html, 
body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration : none; 
    color : #000;
}

body {
    display: flex;
    flex-direction: column;
}
/* Second Navbar */
#second-nav-bar {
    background-color: #fff;
}
#navbar-logo {
    display: none;
}
/* Last Navbar */
#last-nav-bar {
    background-color: #fff;
}
/* Footer */
.footer {
    /* bottom: 0; */
    /* width: 100%; */
    height: 50px;
    /* position: absolute; */
    margin-top: auto;
    background-color: #fff;
}

@media (max-width: 576px) {
    #second-nav-bar {
        display: none;
    }
    #navbar-logo {
        display: block;
    }
    #last-nav-bar {
        display: none;
    }
}